[
	["PM001DDE","D",null,null,["Se ha recogido el mensaje correctamente de la MQ.","retorno del paso PM001DDE001=1","retorno del paso PM001DDE001=1 "],false,["No such file or directory",":\n\n\n","retorno del paso PM001DDE001=2","retorno del paso PM001DDE001=3","retorno del paso PM001DDE001=4","retorno del paso PM001DDE001=5","retorno del paso PM001DDE001=6"]],
	["PM001DDX","D",null,null,["Se ha recogido el mensaje correctamente de la MQ.","retorno del paso PM001DDX001=1","retorno del paso PM001DDX001=1 "],false,["No such file or directory",":\n\n\n","retorno del paso PM001DDX=2","retorno del paso PM001DDX=3","retorno del paso PM001DDX=4","retorno del paso PM001DDX=5","retorno del paso PM001DDX=6"]],
	["PM001DDZ","D",null,null,["Se ha recogido el mensaje correctamente de la MQ.","exit 0"],false,["No such file or directory",":\n\n\n","+ exit 1"]],
	["PM001SBL","S","lunes, martes, jueves y sabado","No such file or directory",["digo de retorno =0"],false,[]],
	["PM001SEL","S","lunes",":\n\n\n",["Fin de la fase PM001SEL.sh"],false,[]],
	["PM002DDE","D",null,null,["retorno del paso PM002DDE001=1","Se ha recogido el mensaje correctamente de la MQ."],false,[":\n\n\n","retorno del paso PM002DDE001=2","retorno del paso PM002DDE001=3","retorno del paso PM002DDE001=4","retorno del paso PM002DDE001=5","retorno del paso PM002DDE001=6"]],
	["PM002DDX","D",null,null,["PM002DDX001=1","PM002DDX001=1 ","PM002DDX001=143","Se ha recogido el mensaje correctamente de la MQ."],false,[":\n\n\n","PM002DDX001=2","PM002DDX001=3","PM002DDX001=4","PM002DDX001=5","PM002DDX001=6"]],
	["PM002DDZ","D",null,null,["capalogica.beans.PMBB00JCExtraccionDeArchivoProvision | selectDatos()","exit 0"],false,["No such file or directory",":\n\n\n","+ exit 1"]]
]