[
	["EN001D00","S","lunes, martes, miércoles, jueves y viernes",":\n\n\n",["exit 0"],false,["+ exit 1","+ exit 3"]],
	["EN002D00","P",null,"No such file or directory",["Envio correcto","Enviado ENTEMPPB","Enviando fichero ENTEMPPC"],false,["***          Error al enviar fichero","Error al borrar los ficheros","Error"]]

]