[
	["NE010DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO: **** Valor de Retorno:"]],
	["NE020DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE040DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO: **** Valor de Retorno:"]],
	["NE050DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE060DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE070DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE070PET","P",null,"No such file or directory",null,true,["*** RESULTADO FINAL ERROR"]],
	["NE080DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE085DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE090DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE091DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","Error"]],
	["NE100DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE101DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","Error"]],
	["NE110DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** Se ha producido un error ***","*** RESULTADO FINAL ERROR"]],
	["NE110SEM","S","lunes","No such file or directory",["Ejecucion terminada."],false,["*** RESULTADO FINAL ERROR"]],
	["NE111SEM","S","lunes","No such file or directory",["Ejecucion terminada."],false,["Error"]],
	["NE115DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** Se ha producido un error ***"]],
	["NE119DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","Error"]],
	["NE120DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR","ERROR:"]],
	["NE121DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR",": option used in invalid context -- 1","No existe el fichero SQL-Loader de carga"]],
	["NE140DIA","D",null,null,["Ejecucion terminada.","exit 0"],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]],
	["NE150DIA","D",null,null,["Ejecucion terminada."],false,["No such file or directory",":\n\n\n","Código de retorno ="]],
	["NE300DIA","D",null,null,["RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,["No such file or directory",":\n\n\n","*** RESULTADO: ******* ERROR *** ERROR *** ERROR *** ERROR ******"]],
	["NE700MEN","M","jueves y domingo","No such file or directory",["Ejecucion terminada."],false,["*** RESULTADO FINAL ERROR"]],
	["NE710SEM","S","domingo","No such file or directory",["Ejecucion terminada."],false,[]],
	["NE720SEM","S","domingo","No such file or directory",["Ejecucion terminada."],false,[]],
	["NE750SEM","D",null,null,["Ejecucion terminada.","SE HA CONFIRMADO LA ELIMINACION"],false,["No such file or directory",":\n\n\n","*** RESULTADO FINAL ERROR"]]
]