[
	["L1101PSE","D",null,null,["RESULTADO: 0"],false,["Fallo en la ejecuci"]],
	["L1100DSE","D",null,null,["RESULTADO: 0","Ejecucion correcta"],false,["Fallo"]],
	["L3100DQH","D",null,null,["Salida: 0","Ejecucion correcta"],false,["Resultado: 2","Salida: 2","tamano args[]0"]],
	["L1001D00","D",null,null,["RESULTADO-------> 0"],false,["Se han producido errores "]],
	["L1002D00","D",null,null,["Ejecucion correcta. Resultado: 0"],false,["Ha ocurrido un error","Fallo en la ejecucion."]],
	["L1003D00","D",null,null,["Actualización de PINES reservados realizado correctamente","FIN OK del proceso"],false,["PINES caducados ha fallado"]],
	["L1004D00","D",null,null,["RESULTADO------->  ","Fin del proceso"],false,["Ha ocurrido un error"]],
	["L1005D00","D",null,null,["RESULTADO------->  ","Fin del proceso"],false,["Ha ocurrido un erro","an producido errores"]],
	["L1100DNE","D",null,null,["n correcta. RESULTADO: 0"],false,["Fallo en la ejecuci"]],
	["L1101DNE","D",null,null,["n correcta. RESULTADO: 0"],false,["Fallo en la ejecuci"]],
	["L1008D00","D",null,null,["Ejecucion correcta. Resultado: 0","Ejecucion correcta. Resultado: 1"],false,["Fallo en la ejecucion"]],
	["L1009D00","D",null,null,["Ejecucion correcta. Resultado: 0"],false,["Fallo en la ejecucion."]],
	["L1010D00","D",null,null,["terminado correctamente.","Ejecucion correcta. Resultado: 0","realizado correctamente"],false,["Error","ha fallado:","Fallo en la ejecucion."]],
	["L1011D00","D",null,null,["Ejecucion correcta. Resultado: 0","Ejecucion correcta. Resultado: 1"],false,["Fallo en la ejecucion."]],
	["L1012D00","D",null,null,["Ejecucion correcta. Resultado: 0","Registros ACEPTACION realizado correctamente:","RESULTADOJAVA=0","exit 0"],false,["Error ","Fecha inicio no valida","Fecha fin no valida","Fallo en la ejecucion."]],
	["L1013D00","D",null,null,["ACEPTACION realizado correctamente:","proceso de Borrado:  RESULTADO. 2"],false,["no valida:","Error al validar","ha fallado:"]],
	["L1018D00","D",null,null,["Ejecucion correcta. Resultado: 0"],false,["Error","ha fallado:","Fallo en la ejecucion."]],
	["L1019D00","D",null,null,["Ejecucion correcta. Resultado: 0"],false,["FATAL","Fallo en la ejecucion.","Resultado: 255","Resultado: 2","Resultado: 180"]],
	["L1020D00","D",null,null,["Ejecucion correcta. Resultado:"],false,["Ha ocurrido un error","Fallo en la ejecucion."]],
	["L1021D00","D",null,null,["Ejecucion correcta. Resultado:"],false,["Fallo en la ejecucion."]]

]