[
	["UE1TWSEM","S","miércoles",":\n\n\n",["+ exit 0"],false,[""]],
	["UE200D00","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,["error"]],
	["UE200D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,[]],
	["UE201D00","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE201D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE202D00","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE202D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE203D00","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE203D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE204D00","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,[]],
	["UE204D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,[]],
	["UE205D00","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE205D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE206D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE207D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,[]],
	["UE208D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,[]],
	["UE209D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE210D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,[]],
	["UE211D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE212D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =   0"],false,[]],
	["UE213D01","S","lunes, martes, viernes, sábado y domingo","No such file or directory",["Fin de ejecucion =    0"],false,[]],
	["UE2TWSEM","S","miércoles",":\n\n\n",["+ exit 0"],false,[]],
	["UE410DFF","S","martes, miércoles, jueves, viernes y sábado",":\n\n\n",["+ exit 0"],false,[]],
	["UE420DFF","S","martes, miércoles, jueves, viernes y sábado",":\n\n\n",["digo de retorno =0"],false,[]],
	["UE8TWSEM","S","miércoles",":\n\n\n",["+ exit 0"],false,[]],
	["UE906DAC","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UE907DAC","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UE908DAC","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UE9TWSEM","S","miércoles","No such file or directory",["*** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,[]],
	["UEBENDIA","D",null,null,["**LOG**: *** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,[]],
	["UECONPRO","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UEEF7DIA","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UEEF8DIA","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UEEFADIA","D",null,null,["*** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,["No such file or directory",":\n\n\n"]],
	["UEEMADIA","D",null,null,["*** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,["No such file or directory",":\n\n\n"]],
	["UEEMBDIA","D",null,null,["*** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,["No such file or directory",":\n\n\n"]],
	["UEEMPSEM","S","jueves","No such file or directory",["*** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,[]],
	["UEEMSSEM","S","sabado","No such file or directory",["*** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,[]],
	["UEFE1DIA","D",null,null,["Finalizando --> Se han cerrado los Beans, Conexiones, etc... de la Fase."],false,["No such file or directory",":\n\n\n"]],
	["UEFE9DIA","D",null,null,["UEFSPTH5.T*: No existe","UEFSPRI0.T*: No existe","UEFSP4RI.T*: No existe","UEFSP5NE.T*: No existe","NO Procesados Correctamete: 0"],false,["No such file or directory",":\n\n\n","+ exit 1","+ exit 2"]],
	["UELIMSEM","S","miércoles","No such file or directory",["digo de retorno NAS=0"],false,[]],
	["UEMA1DIA","D",null,null,["retorno=0"],false,["No such file or directory",":\n\n\n"]],
	["UEMSSEM2","S","sabado",":\n\n\n",["+ exit 0"],false,[]],
	["UEMPSEM2","S","jueves","No such file or directory",["digo de retorno =0"],false,[]],
	["UETW1DIA","S","lunes, martes, jueves, viernes, sábado y domingo",":\n\n\n",["+ exit 0"],false,[]],
	["UETW2DIA","S","lunes, martes, jueves, viernes, sábado y domingo","No such file or directory",["*** RESULTADO: ******* CORRECTO *** CORRECTO *** CORRECTO *******"],false,[]],
	["UEUS1DIA","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UEUS2DIA","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UEUSUDIA","D",null,null,["+ exit 0"],false,["No such file or directory",":\n\n\n"]],
	["UEFE8DIA","D",null,null,["exit 0",":\n\n\n","No such file or directory"],false,["+ exit 1","ERROR:"]]
]